* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  width: 250px;
  height: 500px;
  outline: 2px solid black;
  margin: 10px auto;
}

.screen {
  height: 40%;
  outline: 2px dashed pink;
}

.mode-toggle {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  outline: 2px solid yellow;
}

.result {
  outline: 2px solid green;
}

.preview {
  outline: 2px solid red;
}

.buttons-container {
  padding: 10px;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;
  outline: 2px dashed peru;
}

.buttons {
  outline: 2px solid blue;
  display: flex;
  justify-items: center;
  align-items: center;
}

.buttons span {
  width: min-content;
  margin: auto;
}

.equals {
  grid-column: 3 / span 2;
  background-color: grey;
  outline: 5px solid orange;
}
