* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BUTTON-BGCOLOR: rgba(20, 20, 20, 0.9);
  --FADE-BUTTON-BGCOLOR: rgb(35, 33, 33);
  --BUTTON-COLOR: rgba(250, 20, 100, 1);
  --FADE-BUTTON-COLOR: rgb(255, 95, 151);
  --APP-BGCOLOR: rgb(43, 43, 43);
  --NUMBER-COLOR: rgb(250, 250, 250);
}

.app-container {
  width: 250px;
  height: 500px;
  margin: 10px auto;
  background-color: var(--APP-BGCOLOR);
}

.screen {
  height: 40%;
}

.mode-toggle {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  outline: 2px solid yellow;
}

.result {
  outline: 2px solid green;
  font-size: 1.5rem;
  padding: 10px;
  width: 100%;
  color: var(--BUTTON-COLOR);
  font-weight: 600;
  word-wrap: break-word;
}

.preview {
  margin-top: 90px;
  padding: 10px;
  width: 50%;
  height: max-content;
  outline: 2px solid red;
  color: white;
  font-size: 1.4rem;
  word-wrap: break-word;
}

.buttons-container {
  padding: 10px;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;
}

.buttons {
  border: none;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  background-color: var(--BUTTON-BGCOLOR);
}

.buttons span {
  width: min-content;
  margin: auto;
  color: var(--BUTTON-COLOR);
}

.number > span {
  color: var(--NUMBER-COLOR);
}

.equals {
  grid-column: 3 / span 2;
  background-color: var(--BUTTON-COLOR);
}

.equals span {
  color: var(--NUMBER-COLOR);
}

.toggle-color {
  background-color: var(--FADE-BUTTON-COLOR);
  font-size: 10px;
}

.toggle-bg-color {
  background-color: var(--FADE-BUTTON-BGCOLOR);
  font-size: 10px;
}
